# Target directories & Maven binaries
**/target/
**/*.jar
**/BOOT-INF/
backend/apache-maven-3.9.6/
*.log
**/*.log

# Node modules & build outputs
**/node_modules/
**/dist/
**/.angular/

# IDE & OS files
.idea/
.vscode/
.DS_Store
Thumbs.db
